
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
header{

  background-image:url(imagem/background.png);
  background-repeat: no-repeat;
  background-size: 100%;

}
a{
  text-decoration: nome;
 
}

header .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .menu li{
  display: inline-block;

}
header .menu a {
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 3px;
  transition: 200ms;
}
.menu{
  position: fixed;
  width: 100%;
 display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  text-decoration: none;

}
.menu li{
  display: inline-block;
  

}
.menu a:hover {
  padding: 8px 12px;
border-radius: 3px;
  transition: 200ms;
 
}
.principal{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
}
.principal h2{
  color:white;
  font-size: 45px;
  text-decoration: none;
}
.principal .links {
  color: white;
  padding: 1px 2px;
  display: inline-block;
  border: 2px solid white;
  margin-top: 20px;
}
  .menu ul li{
     color:#444;
 background-color: white;
 text-decoration: none;
 
  }
.menu ul a{
  background-color: white;
  color: black;
}
.principal .links a{
  color: white;
  padding: 5px 10px;
  display: inline-block;

  text-decoration: none;

  border-radius: 3px;
  
  transition: 200ms;
}

.principal .links a:hover {
  color: #444;
  background-color: white;
}

.principal a{
  display: flex;
  justify-content: center;
  align-items: center;
}